.tituloDeGaleria{
    text-align: center;
}
.galeriaDeImagenes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 25px;
    justify-items: center;
    margin: 0 auto; /* Centering grid container horizontally */
    max-width: 90%; /* Optional: limits the width of the container */
}
.galeriaDeImagenes img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.galeriaDeImagenes img:hover{
    transform: scale(1.5);
}
@media(max-width: 800px){
    .tituloDeGaleria{
        text-align: center;
    }
    .galeriaDeImagenes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        justify-items: center;
        margin: 0 auto; /* Centering grid container horizontally */
        max-width: 90%; /* Optional: limits the width of the container */
    }
    .galeriaDeImagenes img{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    .galeriaDeImagenes img:hover{
        transform: scale(1.5);
    }
}
@media(max-width: 500px){
    .tituloDeGaleria{
        text-align: center;
    }
    .galeriaDeImagenes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 15px;
        justify-items: center;
        margin: 0 auto; /* Centering grid container horizontally */
        max-width: 90%; /* Optional: limits the width of the container */
    }
    .galeriaDeImagenes img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .galeriaDeImagenes img:hover{
        transform: scale(1.5);
    }
}